
@{
    ViewBag.Title = "AvailarFT_ComLogin";
    Layout = "~/Views/Shared/_Layout_ComLogin.cshtml";
}



<link href="~/CSS/estrelaVotação.css" rel="stylesheet" />
<div class="col-lg-12" style=" background-color:rgba(255, 255, 255,.5);">
    <div style="margin-left:210px">
        <link href="../../estilo.css" rel="stylesheet" />
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <h4>Nome do FoodTruck</h4>
                <a class="thumbnail">
                    <img src="http://mobile-cuisine.com/wp-content/uploads/2013/09/Roaming-Rotisserie-virginia-food-truck.jpg" alt="...">
                </a>
            </div>
            <br />
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <!--Região das estrelas para votação -->
            <div class="estrelas col-lg-7">
                <h4>
                    <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                    <label for="cm_star-1"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-1" name="fb" value="1" />
                    <label for="cm_star-2"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-2" name="fb" value="2" />
                    <label for="cm_star-3"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-3" name="fb" value="3" />
                    <label for="cm_star-4"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-4" name="fb" value="4" />
                    <label for="cm_star-5"><i class="fa"></i></label>
                    <input type="radio" id="cm_star-5" name="fb" value="5" />
                </h4>

                <!--Região para descrever sobre o FT-->
                <div class="media-body" style="margin-left:310px">
                    Area onde vai ficar as informações sobre
                    o FoodTruck Telefone, horário de funcionamento
                    Area onde vai ficar as informações sobre
                    o FoodTruck Telefone, horário de funcionamento
                    Area onde vai ficar as informações sobre
                    o FoodTruck Telefone, horário de funcionamento
                </div>

            </div>
        </div>
    </div>
    <br />
    <div class="col-lg-8" style="margin-left:220px">
        <h3>Nossos produtos:</h3>
        <div class="media">

            <!--Produto 1-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>
            <!--Produto 2-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>

            <!--Produto 3-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>
            <br />
            <!--Começo da segunda fileira-->
            <!--Produto 4-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>

            <!--Produto 5-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>

            <!--Produto 6-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>
            <br />
            <!--Inicio da terceira fileira-->
            <!--Produto 7-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>

            <!--Produto 8-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>

            <!--Produto 9-->
            <div class="media-left media-middle">
                <!--Tamanho da imagem tem que 64x64-->
                <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

            </div>
            <div class="media-body">
                <h4 class="media-heading">X-TUDO</h4>
                (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
            </div>
        </div>
        <!--Região para mostrar a localização-->
        <h3>Onde estamos:</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3729.2925899670267!2d-49.39359388522167!3d-20.819888166609992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bdad6250d552fb%3A0xd0fa50cb3329da91!2sR.+Jorge+Cury+-+Vila+Redentora%2C+S%C3%A3o+Jos%C3%A9+do+Rio+Preto+-+SP%2C+15015-420!5e0!3m2!1spt-PT!2sbr!4v1476839192119" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>

    <div class="col-lg-7" style="margin-left:250px">
        <h3>Deixe seu comentário sobre o FoodTruck:</h3>
        <textarea class="form-control" rows="3"></textarea>
        <br />
        <button name="singlebutton" class="btn btn-success" style="margin-left:660px">Comentar</button>
    </div>

    <div class="col-lg-7" style="margin-left:250px">
        <h4>Comentários:</h4>
        (area onde ficara os comentários feitos pelos clientes)
    </div>
</div>


