
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout_SemLogin.cshtml";
}

<div class="col-lg-7" style="margin-top:200px; margin-left:180px">
<a href="/CadastroFT/CadastroFT">
        <h2 style="font-style:oblique; margin-left:300px; font-family: Bernard MT Condensed, Helvetica, sans-serif;" >Cadastre Seu Food Truck</h2>
</a>
    <br/>
<a href="/CadastroFT/CadastroFT">
    <h3 style="font-style:oblique; margin-left:150px; font-family: Bernard MT Condensed, Helvetica, sans-serif;">Cadastra-se para Participar de promoções, Avaliar e comentar</h3>
</a>
</div>