
@{
    ViewBag.Title = "About_ComLogin";
    Layout = "~/Views/Shared/_Layout_ComLogin.cshtml";
}

<div class="col-lg-9" style="background-color:rgba(255, 255, 255,.5); padding-bottom:20px; margin-left:200px">
    <div style="text-align:center;">
        <h1 style="font-family:Bernard MT Condensed, Helvetica, sans-serif">Grupo: 100 Ideias</h1>
    </div>
    <br />
    <br />
    <br />
    <div style="text-align:center">
        <h3>Alberto Angelo da Silva</h3>
        <h3>Bruno Kolenyak Gomes</h3>
        <h3>Heitor Fernandez Madeira</h3>
        <h3>William Alexandre Pereira Felipe</h3>
    </div>
    <br />
    <br />
    <br />
    <img style="margin-left:180px" src="http://fatecriopreto.edu.br/images/topo2016.jpg" alt="Alternate Text" />
</div>

