<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/CSS/Login.css" rel="stylesheet" />
    <script src="~/JavaScript/Login.js"></script>
</head>
<body style="background-color:lightgray">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Index_SemLogin/Index_SemLogin">FT GO</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/TodosFT_SemLogin/TodosFT_SemLogin">Food Trucks <span class="sr-only">(current)</span></a></li>
                    <li><a href="/CadastroUsuario/CadastroUsuario">Cadastro</a></li>
                    <li><a href="/CadastroFT/CadastroFT">Cadastre seu Food Truck</a></li>
                     <li><a href="/About/About">About</a></li>

                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <!-- BEGIN # BOOTSNIP INFO -->

                    <div class="row" style="margin-top:8px">
                        <a href="#" class="btn btn-primary btn-default" role="button" data-toggle="modal" data-target="#login-modal" style="margin-right:10px">Login</a>
                    </div>

                    <!-- END # BOOTSNIP INFO -->
                    <!-- BEGIN # MODAL LOGIN -->
                    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" align="center">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </div>

                                <!-- Begin # DIV Form -->
                                <div id="div-forms">

                                    <!-- Begin # Login Form -->
                                    <form id="login-form">
                                        <div class="modal-body">
                                            <div id="div-login-msg">
                                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                                <span id="text-login-msg">Type your Email and password.</span>
                                            </div>
                                            <label>Email:</label>
                                            <input type="email" name="email" size="30" required />
                                            <br/>
                                            <label>Senha:</label>
                                            <input type="password" name="senha" size="30" required />
                                        </div>
                                        <div class="modal-footer">
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                            </div>
                                           
                                        </div>
                                    </form>
                                    <!-- End # Login Form -->
                                    <!-- Begin | Lost Password Form -->
                                    <form id="lost-form" style="display:none;">
                                        <div class="modal-body">
                                            <div id="div-lost-msg">
                                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                                <span id="text-lost-msg">Type your e-mail.</span>
                                            </div>
                                            <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                                        </div>
                                        <div class="modal-footer">
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                                            </div>
                                            <div>
                                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                                
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End | Lost Password Form -->
                                

                                </div>
                                <!-- End # DIV Form -->

                            </div>
                        </div>
                    </div>
                    <!-- END # MODAL LOGIN -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- jQuery -->
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/scripts/bootstrap.min.js"></script>

    <div>
        @RenderBody()
    </div>
</body>
</html>
