<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/CSS/Login.css" rel="stylesheet" />
    <script src="~/JavaScript/Login.js"></script>
</head>
<body style="background-image: url('../../pexels-photo-70497.jpeg'); background-repeat: round; background-position-x: center; background-size: 100%; ">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Index_ComLogin/Index_ComLogin">FT GO</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/TodosFT_ComLogin/TodosFT_ComLogin">Food Trucks <span class="sr-only">(current)</span></a></li>
                  
                 
                    <li><a href="/About_ComLogin/About_ComLogin">About</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right" style="margin-top:8px">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Nome Da Pessoa
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                            <li><a href="#">Minhas Avaliações</a></li>
                            <li><a href="#">Alterar Cadastro</a></li>
                            <li><a href="/DonoFT/DonoFT">Meu FoodTruck</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Index_SemLogin/Index_SemLogin">Sair</a></li>
                        </ul>
                    </div>    
                </ul>
</div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

 <!--   <div class="col-lg-2" style="margin-left:0px">
        <div class="list-group">
            <h4>Nome da Pessoa</h4>
            <h4>Mais informações da Pessoa</h4>
            <a href="#" class="list-group-item">Minhas Avaliações</a>
            <a href="#" class="list-group-item">Alterar Cadastro</a>
            <a href="#" class="list-group-item">Decidir</a>
            <a href="#" class="list-group-item">Decidir</a>
            <a href="/Index_SemLogin/Index_SemLogin/" class="list-group-item">Sair</a>
        </div>
    </div>
     -->
    <!-- jQuery -->
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/scripts/bootstrap.min.js"></script>

    <div>
        @RenderBody()
    </div>
</body>
</html>
