
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_SemLogin.cshtml";
}



<div style="text-align:center">
    <h1   style="font-family:Bernard MT Condensed, Helvetica, sans-serif";>Grupo: 100 Ideias</h1>
</div>
<br />
<br />
<br />
<div style="text-align:center">
    <h3>Alberto Angelo da Silva</h3>
    <h3>Bruno Kolenyak Gomes</h3>
    <h3>Heitor fernandes Madeira</h3>
    <h3>William Alexandre Pereira Felipe</h3>
</div>
<br/>
<br/>
<br/>
<img style="margin-left:350px" src="http://fatecriopreto.edu.br/images/topo2016.jpg" alt="Alternate Text" />
