
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_SemLogin.cshtml";
}

<h2>About</h2>

<div style="text-align:center">
    <h1>Grupo: 100 Ideias</h1>
</div>
<br />
<br />
<br />
<div style="text-align:center">
    <h3>Alberto</h3>
    <h3>Bruno</h3>
    <h3>Heitor</h3>
    <h3>William</h3>
</div>
