
@{
    ViewBag.Title = "ConfirmarCad_FT";
    Layout = "~/Views/Shared/_Layout_SemLogin.cshtml";
}
<div class="col-lg-6" style="margin-left:350px; background-color:rgba(255, 255, 255,.5); padding-bottom:20px">
<h3 style="font-family:Bernard MT Condensed, Helvetica, sans-serif">Aguarde a Confirmação das informações</h3>

    <h4>Entraremos em contato através do email fornecido, para finalizar o cadastro e fornecer seu login e a sua senha.</h4>
    <br/>
    <a href="/Index_SemLogin/Index_SemLogin">
    <button type="button" class="btn btn-primary" style="margin-left:270px">Home</button>
    </a>
</div>
